<!--Header-->
<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 120}">
    <div class="header-body no-shadow">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column justify-content-start">
                    <div class="header-logo">
                        <a href="/Home/Index">
                            <img alt="3WEB" width="130" src="/Content/img/logo.png">
                        </a>
                    </div>
                </div>

                <div class="header-column justify-content-end">
                    <div class="header-nav header-nav-light-dropdown">
                        <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                            <nav class="collapse">
                                <ul class="nav flex-column flex-lg-row" id="mainNav">
                                    <li>
                                        @Html.ActionLink("Home", "Index")
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Home")#quem-somos">Conheça</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Home")#servicos">Serviços</a>
                                    </li>
                                    <li>
                                       <a href="@Url.Action("Index", "Home")#clientes">Clientes</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Home")#equipe">Equipe</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Home")#planos">Planos</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Home")#contato">Contato</a>
                                    </li>


                                    @*<li class="dropdown dropdown-mega dropdown-mega-signin signin ml-lg-3" id="headerAccount">
                                            <a class="dropdown-item pl-lg-4" href="page-login.html">Sign In</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="dropdown-mega-content">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="signin-form">
                                                                    <span class="top-sub-title text-color-light-3">MEMBERSHIP</span>
                                                                    <h2 class="text-4 mb-4 mt-1">Sign In</h2>
                                                                    <form action="page-login.html" id="frmSignIn" method="post">
                                                                        <div class="form-row">
                                                                            <div class="form-group col mb-2">
                                                                                <input type="email" value="" maxlength="100" class="form-control" name="email" id="signInEmail" placeholder="Username" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col">
                                                                                <input type="password" value="" class="form-control" name="password" id="signInPassword" placeholder="Password" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col">
                                                                                <div class="form-check checkbox-custom checkbox-default">
                                                                                    <input class="form-check-input" type="checkbox" id="signInRemember">
                                                                                    <label class="form-check-label" for="signInRemember">
                                                                                        Remember me
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col text-right">
                                                                                <a href="#" id="headerRecover" class="forgot-pw text-color-dark d-block">Forgot password?</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row align-items-center">
                                                                            <div class="col">
                                                                                <a href="#" id="headerSignUp" class="text-color-primary pl-0">Sign Up Now!</a>
                                                                            </div>
                                                                            <div class="col text-right">
                                                                                <button type="submit" class="btn btn-primary btn-sm pull-right mb-0 mr-0"><i class="fa fa-lock"></i> SIGN IN</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="signup-form">
                                                                    <span class="top-sub-title text-color-light-3">MEMBERSHIP</span>
                                                                    <h2 class="text-4 mb-4 mt-1">Sign Up</h2>
                                                                    <form action="#" id="frmSignUp" method="post">
                                                                        <div class="form-row">
                                                                            <div class="form-group col mb-2">
                                                                                <input type="text" value="" class="form-control" name="name" id="signUpName" placeholder="Full Name" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col mb-2">
                                                                                <input type="email" value="" maxlength="100" class="form-control" name="email" id="signUpEmail" placeholder="E-mail" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row mb-3">
                                                                            <div class="form-group col">
                                                                                <input type="password" value="" class="form-control" name="password" id="signUpPassword" placeholder="Password" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row align-items-center">
                                                                            <div class="col">
                                                                                <a href="#" id="headerSignIn" class="text-color-primary pl-0">Have an account?</a>
                                                                            </div>
                                                                            <div class="col text-right">
                                                                                <button type="submit" class="btn btn-primary btn-sm pull-right mb-0 mr-0">SIGN UP</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="recover-form">
                                                                    <span class="top-sub-title text-color-light-3">MEMBERSHIP</span>
                                                                    <h2 class="text-4 mb-4 mt-1">Reset my Password</h2>
                                                                    <form action="#" id="frmResetPassword" method="post">
                                                                        <div class="form-row mb-4">
                                                                            <div class="form-group col mb-2">
                                                                                <input type="email" value="" maxlength="100" class="form-control" name="email" id="resetPasswordEmail" placeholder="E-mail" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row align-items-center">
                                                                            <div class="col">
                                                                                <a href="#" id="headerRecoverCancel" class="text-color-primary pl-0">Have an account?</a>
                                                                            </div>
                                                                            <div class="col text-right">
                                                                                <button type="submit" class="btn btn-primary btn-sm pull-right mb-0 mr-0">SUBMIT</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </nav>
                        </div>
                        <div class="header-button d-none d-sm-flex ml-3">
                            <a class="btn v-btn standard lightgrey sf-icon-reveal mb-0 mr-0" href="#planos" target="_self">
                                <i class="icon-cart-4"></i><span class="text text-uppercase">CONTRATAR</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End Header-->