<!DOCTYPE html>
<html lang="en" class="gap-outside">
<head>
    <meta charset="utf-8">
    <title>3WEB Soluções | @ViewBag.Title</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="3WEB - Soluções">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/png" href="Content/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Libs CSS -->
    @Styles.Render("~/Content/css")

    <!-- Current Page CSS -->
    @Styles.Render("~/Content/current_css")

    <!-- Skin -->
    @Styles.Render("~/Content/skin")

    <!-- Custom CSS -->
    @Styles.Render("~/Content/custom_css")
</head>
<body>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5c06df5efd65052a5c93c3a9/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    @Html.Partial("_Header")
    <div role="main" class="main">
        @RenderBody()

        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery2")

    @Scripts.Render("~/bundles/bootstrap")

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
