<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>3WEB Soluções | @ViewBag.Title</title>

    <link rel="shortcut icon" type="image/png" href="Content/img/favicon.png" />


    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Libs CSS -->
    @Styles.Render("~/Content/BasicCSS")

    <!-- Current Page CSS -->
    @Styles.Render("~/Content/CurrentCSS")

    <!-- Skin -->
    @Styles.Render("~/Content/skin")

    <!-- Custom CSS -->
    @Styles.Render("~/Content/CustomCSS")
</head>
<body>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5c06df5efd65052a5c93c3a9/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>

    <input type="hidden" id="success"
           value="@TempData["success"]" />
    <input type="hidden" id="info"
           value="@TempData["info"]" />
    <input type="hidden" id="warning"
           value="@TempData["warning"]" />
    <input type="hidden" id="error"
           value="@TempData["error"]" />

    <!--End of Tawk.to Script-->
    @Html.Partial("_Header")

    <div role="main" class="main">
        @RenderBody()

        @Html.Partial("_Footer")
    </div>
    <!-- Libs -->
    @Scripts.Render("~/bundles/jquery2")

    @*@Scripts.Render("~/bundles/bootstrap")*@

    <!-- Handler for local scripts -->
    <script>
    $(function () {
        var displayMessage = function (message, msgType) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "500",
                "timeOut": "3000",
                "extendedTimeOut": "4000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[msgType](message);
            };

            if ($('#success').val()) {
            displayMessage($('#success').val(), 'success');
            }
            if ($('#info').val()) {
            displayMessage($('#info').val(), 'info');
            }
            if ($('#warning').val()) {
            displayMessage($('#warning').val(), 'warning');
            }
            if ($('#error').val()) {
            displayMessage($('#error').val(), 'error');
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
